.item-detail {
    display: flex;
    padding: 30px;
    background-color: #303030;
    border-radius: 5px;

    &__name {
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__left {
        margin-right: 40px;

        img {
            max-width: 200px;
        }
    }

    &__right {
        flex: 1 1 auto;
    }

    &__param {
        display: flex;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #444;

        &-key {
            margin-right: 10px;
        }
    }
}
